{% extends 'profil_page.html' %}

{% block profil_link %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/_users.css") }}">
{% endblock %}


{% block profil_content %}
    <h1 class="h1" id="h1">{{_("Пользователи")}}</h1>
    <hr>
<div class="users">
 {% for user in users %}
    <div class="user{{ user.id }}">
        <a href="{{ url_for('user', username=user.username) }}">
            <img src="{{ user.avatar }}" alt="{{ user.username }}" style="width: 100px; height: 100px">
            <p>{{ user.first_name }} {{ user.last_name }}</p>
        </a>
    </div>
 {% endfor %}
</div>



{% endblock %}